<?xml version="1.0" encoding="utf-8" ?>

<!-- To turn on NLog diagnostic trace; fix the [x-internalLogXXXXX] names to [internalLogXXXX] -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      x-internalLogLevel="Trace" x-internalLogFile="NLog-Trace.txt"
      throwExceptions="false">

	<targets>
		<target name="Eta.Net.Consumer.Target" xsi:type="File"
				layout="${time} ${level} [${threadid}] ${message}"
				fileName="logs/ETA.Net.Consumer.Log.txt"
				archiveFileName="archives/ETA.Net.Consumer.Log.{#}.txt"
				archiveEvery= "Day"
				archiveNumbering="Date"
				keepFileOpen="false"
				maxArchiveFiles="7" />
	</targets>

	<rules>
		<!-- [name] must match EtaLogger.LogName -->
		<logger name="Eta.Net.Consumer" minLevel="Trace" writeTo="Eta.Net.Consumer.Target"/>
	</rules>
</nlog>